body{
  background-image: url(https://previews.123rf.com/images/studiostoks/studiostoks1606/studiostoks160600269/58843473-deux-filles-copines-comm%C3%A9rages-pop-art-r%C3%A9tro-vecteur-belles-femmes-mode-de-vie.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header{
  background-color: #b3c6ff;
  padding: 15px;
  text-align: center;
  font-family: cursive;
  opacity: 0.9;
  width: 100%;
}

.sub{
  padding: 8px;
  margin-bottom: 2px;
  background-color:#00663d;
  text-align: center;
  opacity: 0.9;
  border-radius: 7px;
  width: 103%;
 }

 .mensaje-entrada li{
   width: 25%;
   padding: 8px;
   margin: 2%;
   background-color:#b3ffb3;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   opacity: 0.9;
   border-radius: 5px;

 }
 @media only screen and (max-width: 730px) {
    .mensaje-entrada li{
         width: 70%;
         padding: 8px;
    }
    .header{

      padding: 5px;

    }
    .sub{
      padding: 1px;
      margin-bottom: 1px;

     }

}
.caja{
  font-size: 120%;
  background-color: none;
   margin-top: 10%;
  width: auto;
  margin: auto;
  text-align: center;
  border:2px solid ;
  width: 100%;
  padding: 45px;
  border:2px solid ;
  font-family:
}

#resultado{
  text-align: center;
  width: 10%;
  height: 5%
  border: 2px solid;
  color: white;
  background-color: #80ced6;
}
.chisme{
   border-radius: 6px;
  background-color: #80ced6;
  padding: 5px;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  }
  .num-secreto{
    border-radius: 6px;
   background-color: #80ced6;
   padding: 5px;
   margin-left: 31%;
   margin-right: 31%;
   text-align: center;
  }
    #tu-mensaje{
    background-color: #80ced6;
    padding: 2px 2px;
    margin-left: 33%;
    margin-right: 33%;
     border-radius: 6px;
  }
  button{
    color: black;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    background-color:#618685;
    border-radius: 10px;
    border-top: 5px;
    font-family: Comic Sans;
  }
  #muestraResultado{
    font-style: italic;
  }
